*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav{
   background-color: rgb(255, 146, 146);
   height: 80px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.link{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    gap: 10px;
}

.link a{
    color: black;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav h1{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding-left: 50px;
}

.btn1{
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;

}

.note{
    height: 30px;
    width: 55%;
    background-color: aqua;
}

.text{
    color: pink;
}